TagHelpersDemo/bin/
TagHelpersDemo/obj/
TagHelpersDemo/.vs/
IdentyServerSample/IdentityServerCenter/.vs/
IdentyServerSample/mvcCookieAuthSample/MvcClient/obj/
IdentyServerSample/mvcCookieAuthSample/mvcCookieAuthSample2/.vs/
IdentyServerSample/mvcCookieAuthSample/mvcCookieAuthSample2/bin/
IdentyServerSample/mvcCookieAuthSample/mvcCookieAuthSample2/obj/
IdentyServerSample/IdentityServerCenter/ThirPartDemo/obj/
IdentyServerSample/IdentityServerCenter/ThirPartDemo/bin/
IdentyServerSample/IdentityServerCenter/PwdClient/obj/
IdentyServerSample/IdentityServerCenter/IdentityServerCenter/obj/
IdentyServerSample/IdentityServerCenter/ClientCreadentialApi/obj/
IdentyServerSample/IdentityServerCenter/ClientCreadentialApi/bin/
IdentyServerSample/IdentityServerCenter/PwdClient/bin/
IdentyServerSample/mvcCookieAuthSample/MvcClient/bin/
IdentyServerSample/IdentityServerCenter/IdentityServerCenter/bin/
CoreService/User.Api/User.Api/obj/
CoreService/User.Api/.vs/User.Api/v15/
CoreService/User.Api/User.Api/bin/
CoreService/User.Api/.vs/User.Api/DesignTimeBuild/
CoreService/User.Api/User.API.UnitTests/bin/
CoreService/User.Api/User.API.UnitTests/obj/
CoreService/User.Api/User.Identity/obj/
EmitDemo/.vs/
CoreService/User.Api/User.Identity/bin/
CoreService/User.Api/API.Gateway/bin/
CoreService/User.Api/API.Gateway/obj/
EmitDemo/
CoreService/User.Api/.vs/
CoreService/API/.vs/
CoreService/API/API.Gateway/bin/
CoreService/API/API.Gateway/obj/
CoreService/API/API/obj/
CoreService/API/API2/bin/
CoreService/API/API2/obj/
CoreService/API/API/bin/
CoreService/API/Client/obj/
CoreService/API/Client/bin/
CoreService/API/consul/consul.exe
CoreService/User.Api/Reslience/bin/
CoreService/User.Api/Reslience/obj/
CoreService/User.Api/Contact.API/obj/
CoreService/User.Api/Contact.API/bin/
CoreService/User.Api/Project.Api/bin/
CoreService/User.Api/Project.Api/obj/
CoreService/User.Api/Project.Domain/bin/
CoreService/User.Api/Project.Infrastructure/obj/
CoreService/User.Api/Project.Infrastructure/bin/
CoreService/User.Api/Project.Domain/obj/
CoreService/User.Api/recommend/Recommend.API/obj/
CoreService/User.Api/recommend/Recommend.API/bin/
SQLHelperDemo/SQLHelperDemo/obj/
helloApi/.vs/
helloApi/helloApi/obj/
helloApi/helloApi/bin/
CoreService/helloApi/bin/
CoreService/helloApi/obj/
CoreService/helloApi/.vs/
CoreService/helloApi/helloApi/obj/
CoreService/helloApi/helloApi/bin/
CoreService/API/consul/tmp/
RabbitMQ/RabbitMQ_Consumer_Console/bin/
RabbitMQ/RabbitMQ_Consumer_Console/obj/
RabbitMQ/RabbitMQPublish/bin/
RabbitMQ/RabbitMQPublish/obj/
RabbitMQ/.vs/
